@use "./grandients.scss";

@mixin btn-1($color: black, $bg: white, $gloss: false) {
	@content;
	border: none;
	border-radius: 5px;
	color: $color;
	background: $bg;
	padding: 3px;
	@if ($gloss == true) {
		::after {
			content: "";
			@include gradients.radial-gradient;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}
