@mixin flex-row($justify: center, $align: center, $wrap: wrap) {
	display: flex;
	flex-direction: row;
	justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;
}

@mixin flex-column($justify: center, $align: center, $wrap: wrap) {
	display: flex;
	flex-direction: column;
	justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;
}
