@use "../sass/gssMain.scss";

$item-bg-color: rgba(
	$color: green,
	$alpha: 0.9,
);
$font-color-1: ivory;
.homepage {
	@include gssMain.fonts(1, $font-color-1);
	@include gssMain.flex-column;
	height: 100vh;
	width: 100vw;
	padding: 5%;
	overflow: hidden;
	.input-container {
		@include gssMain.box-card(transparent, false, false);
		@include gssMain.flex-column;
		width: 100%;
		height: 40vh;
		input {
			width: 40vw;
		}
		button {
			width: 30vw;
		}
		@include gssMain.md {
			width: 60%;
		}
	}
	ul {
		@include gssMain.flex-row;
		width: 100%;
	}
}
