@use "../sass/gssMain.scss";

$item-bg-color: rgba(
	$color: green,
	$alpha: 0.6,
);
$background: rgba(
	$color: #333,
	$alpha: 0.65,
);
$font-color-1: ivory;
.homepage {
	@include gssMain.fonts(1, $font-color-1);
	@include gssMain.flex-column;
	height: 100vh;
	width: 100vw;
	padding: 5%;
	.input-container {
		@include gssMain.box-card($background, true, true);
		@include gssMain.flex-row(left);
		width: 100%;
		height: 60vh;
		@include gssMain.md {
			width: 60%;
		}
		form {
			@include gssMain.flex-column;
			* {
				@include gssMain.ani(fade-in, 0.7s);
			}
			height: 100%;
			gap: 5px;
			input {
				@include gssMain.fonts(1.2, $font-color-1);
				border: none;
				border-radius: 10px;
				background: $item-bg-color;
			}
			input:hover,
			input:focus {
				border: green;
			}
			input::placeholder {
				color: $font-color-1;
			}
			button {
				@include gssMain.btn-1($font-color-1, $item-bg-color);
				@include gssMain.font-styles(700);
			}
			button:hover {
				cursor: pointer;
				opacity: 0.7;
			}
		}
	}
}
