@use "../sass/gssMain.scss";

$background: rgba(
	$color: green,
	$alpha: 0,
);

.product-page {
	@include gssMain.flex-row;
	width: 100vw;
	min-height: 100vh;
	padding: 5%;
	gap: 3%;
	.product {
		@include gssMain.box-card(rgba($color: black, $alpha: 0.7));
		@include gssMain.flex-row;
		.earnings {
			@include gssMain.box-card($background);
			@include gssMain.flex-column;
		}
	}
}
