.bg {
	background: black;
}

.bg::after {
	content: "";
	height: 100%;
	width: 100%;
	position: fixed;
	background-image: url("./assets/bg-1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1000;
	opacity: 0.6;
}
