.bg::after {
	content: "";
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-image: url("./assets/bg-1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1000;
}
