* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	list-style: none;
	transition: all 0.8s ease;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: black;
}
