@use "../../sass/gssMain.scss";

.chart-container {
	@include gssMain.flex-column;
	position: relative;
	min-width: 450px;
	min-height: 250px;
	width: 100%;
	height: 100%;
	border-left: 1px white solid;
	border-bottom: 1px white solid;
	border-radius: 10px;

	.error-text {
		@include gssMain.fonts(1.2, white);
		width: 100%;
		z-index: 1;
	}
}

.chart-container.error::after {
	content: "";
	@include gssMain.radial-gradient(crimson, true);
	position: absolute;
	width: 99%;
	height: 99%;
	border-radius: 10px;
	z-index: 0;
}
