@use "../../sass/gssMain.scss";

.chart-container {
	@include gssMain.flex-column;
	position: relative;

	@include gssMain.md {
		min-width: 400px;
		min-height: 200px;
	}
	width: 100%;
	height: 100%;
	border-left: 1px white solid;
	border-bottom: 1px white solid;
	border-radius: 10px;

	.error-text {
		@include gssMain.fonts(1.2, white);
		@include gssMain.font-neon(white, red);
		width: 100%;
		z-index: 1;
	}
}

.chart-container.error::after {
	content: "";
	@include gssMain.radial-gradient(crimson, true);
	position: absolute;
	width: 99%;
	height: 99%;
	border-radius: 10px;
	z-index: 0;
}
